.main {
  padding-top: 63px;
  background-color: $main-color;
}
.main-h1 {
  margin: 0 0 13px 0;
  padding: 0;

  color: $main-color;
  font-family: "Montserrat", sans-serif;
  font-size: 30.04px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.h1-description {
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Montserrat", sans-serif;
  font-size: 18.02px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;

  width: 247px;
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
}
.main-button {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  min-width: 282px;
  padding: 13px 38px;
  height: 43px;

  background-color: $tomat;
  border-radius: 30px;
}
h2 {
  color: rgb(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.foto-list {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  &__item {
    width: 194px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    // outline: 2px solid red;
    img {
      margin-bottom: 13px;
    }
    span {
      margin: 13px;
      color: rgb(51, 51, 51);
      font-family: "Montserrat", sans-serif;
      font-size: 14.01px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0px;
      text-align: center;
    }
    p {
      color: rgb(102, 102, 102);
      font-family: "Roboto", "Montserrat", sans-serif;
      font-size: 14.01px;
      font-weight: 300;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .main-h1 {
    padding-top: 75px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 52.05px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }
  .h1-description {
    margin-top: 36px;
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 24.02px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;

    width: 428.03px;
    height: 28px;
  }
  .main-button {
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    min-width: 282px;
    min-height: 42px;
    padding: 13px 38px;

    background-color: $tomat;
    border-radius: 30px;

    justify-content: center;
    align-items: center;


  }
}
